<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark p-md-4">   
        <!-- <div class="container">      -->
            <a class="navbar-brand text-white"><span class="title">HOTEL TAJ</span></a>     
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"        
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">   
                    <span class="navbar-toggler-icon text-black"></span>     
            </button>      
            <div class="collapse navbar-collapse" id="navbarNav">     
                  <div class="mx-auto"></div>     
                  <ul class="navbar-nav">       
                      <li class="nav-item">         
                          <a class="nav-link text-white" href="/res/all">Reservation Details</a>     
                            </li>   
                </ul>     
            </div>   
        <!-- </div>  -->
    </nav>

    <div class="container">
        <div class="card">
            <div class="card-body"><b>UPDATE RESERVATION</b><br><br>
                <form [formGroup]="updateReservation" (ngSubmit)="UpdateData()"   #myForm="ngForm">
                    <div class="form-group">
                        <label for="name"  class="form-label">Name</label>
                        <input [class.is-invalid]="updateReservation.get('name')?.touched && updateReservation.get('name')?.invalid" type="text" class="form-control" formControlName="name" name="name" placeholder="Enter Name" required="required">           
                        <div *ngIf="updateReservation.get('name')?.touched && updateReservation.get('name')?.invalid">
                                           
                            <small *ngIf="updateReservation.get('name')?.errors!['required']" class="text-danger"> Name is required</small>           
                        </div>
                    </div>
                        <div class="form-group">
                            <label for="gender"  class="form-label">Gender</label>
                            <input [class.is-invalid]="updateReservation.get('gender')?.touched && updateReservation.get('gender')?.invalid" type="text" class="form-control" formControlName="gender" name="gender" placeholder="Enter gender" required="required">           
                            <div *ngIf="updateReservation.get('gender')?.touched && updateReservation.get('gender')?.invalid">
                                               
                                <small *ngIf="updateReservation.get('gender')?.errors!['required']" class="text-danger">Please mention gender</small>           
                            </div>
                        </div>
                            <div class="form-group">
                                <label for="checkIn"  class="form-label"> Check In </label>
                                <input [class.is-invalid]="updateReservation.get('checkIn')?.touched && updateReservation.get('checkIn')?.invalid" type="date" min="{{CurrentDate | date:'yyyy-MM-dd'}}" class="form-control" formControlName="checkIn" name="checkIn" placeholder="Check-in" required="required">           
                                <div *ngIf="updateReservation.get('checkIn')?.touched && updateReservation.get('checkIn')?.invalid">
                                                   
                                    <small *ngIf="updateReservation.get('checkIn')?.errors!['required']" class="text-danger">Please select a date</small>           
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="checkOut"  class="form-label"> Check Out </label>
                                <input [class.is-invalid]="updateReservation.get('checkOut')?.touched && updateReservation.get('checkOut')?.invalid" type="date" min="{{CurrentDate | date:'yyyy-MM-dd'}}" class="form-control" formControlName="checkOut" name="checkOut" placeholder="Check-out" required="required">           
                                <div *ngIf="updateReservation.get('checkOut')?.touched && updateReservation.get('checkOut')?.invalid">
                                                   
                                    <small *ngIf="updateReservation.get('checkOut')?.errors!['required']" class="text-danger">Please select a date</small>           
                                </div>  
                            </div>
                            <div class="form-group">
                                <label for="roomType"  class="form-label"> Room Type </label>
                                <input [class.is-invalid]="updateReservation.get('roomType')?.touched && updateReservation.get('roomType')?.invalid" type="text" class="form-control" formControlName="roomType" name="roomType" placeholder="Room Type" required="required">           
                                <div *ngIf="updateReservation.get('roomType')?.touched && updateReservation.get('roomType')?.invalid">
                                                   
                                    <small *ngIf="updateReservation.get('roomType')?.errors!['required']" class="text-danger">Please select a room type</small>           
                                </div>  
                            </div>
                            <button type="submit"  class="btn btn-primary" [disabled]="!myForm.form.valid">Submit</button>
                </form>
            </div>
        </div>
    </div>
</body>